.firstcontainer {
    display: flex;
    width: 82rem;
    justify-content: space-evenly;
}

.topsellingtitle {
    display: flex;
    width: 82rem;
    margin-left: 13px;
}

.topsellingcontainer {
    display: flex;
    flex-direction: column;

}

.item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20em;
}

#linkhover {
    color: black;
    text-decoration: none;
}

.item-card:hover a{
   text-decoration: underline;

}

.item-card img {
    max-width: 100%;
}