/* Footer Index & Footer Container/Columns -> */

.footerContainer {
  display: inline-flex;
  width: 100%;
  height:auto;
  background: rgb(32, 29, 72);
  padding-left:6.58vw;
  padding-right: 6.58vw;
  padding-top: 50px;

 
}
.comp1-style{
  display: flex;
  flex-direction: column;
  width: 200px;
}

.legoImage-footer {
  width: 100px;
  height: 100px;
  padding-bottom: 20px;
  box-sizing: content-box;
}

.dropPinImage-footer {
  width: 16px;
  height: 18px;
  box-sizing: content-box;
}

#romania-href {
  padding-left: 10px;
  box-sizing: content-box;
}

#selectionRegion-footer {
  color: white;
  text-decoration: none;
  padding-left: 10px;
  box-sizing: content-box;
}

.footer_selectionRegion {
  display: flex;
  justify-content: center;
  background: rgb(24, 21, 45);
  width: 100px;
  height: 15px;
  text-align: center;
  color: white;
  padding: 12px;
  font-family: "CeraPro-Regular";
  box-sizing: content-box;
}

#giftCards-footer {
  color: white;
  text-decoration: none;
  box-sizing: content-box;
}

.footer_giftCards {
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 10px;
  font-family: "CeraPro-Regular";
  box-sizing: content-box;
}

.footer_giftCards:hover {
  text-decoration: underline;
}

#legoCatalogs-footer {
  color: white;
  text-decoration: none;
  box-sizing: content-box;
}

.footer_legoCatalogs {
  color: white;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 10px;
  font-family: "CeraPro-Regular";
  box-sizing: content-box;
}

.footer_legoCatalogs:hover {
  text-decoration: underline;
}

#findLego-footer {
  color: white;
  text-decoration: none;
  box-sizing: content-box;
}

.footer_legoFinder {
  width: 150px;
  color: white;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 10px;
  font-family: "CeraPro-Regular";
  box-sizing: content-box;
}

.footer_legoFinder:hover {
  text-decoration: underline;
}

.footerInfo {
  display:flex;
  box-sizing: content-box;
  height: auto;
  width: auto;
  position: relative ;
  right: 10px;
}

.footerInfo_firstColumn {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
  padding-left: 9.2vw;
  color: white;
  box-sizing: content-box;
}

.footerInfo_secondColumn {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
  padding-left: 5.2vw;
  color: white;
  box-sizing: content-box;
}

.footerInfo_thirdColumn {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
  padding-left: 5.2vw;
  color: white;
  box-sizing: content-box;
}

.footerInfo_fourthColumn {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
  padding-left: 5.2vw;
  color: white;
  box-sizing: content-box;
}

.footerInfo_title {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 15px;
  font-family: "CeraPro-Bold";
  box-sizing: content-box;
}

#footerInfo_details {
  color: white;
  text-decoration: none;
  font-family: "CeraPro-Regular";
  box-sizing: content-box;
}

.footerInfo_details {
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: content-box;
}

.footerInfo_details:hover {
  text-decoration: underline;
}
/* end */

/* Footer-Social Component -> */

.footer-social-links{
  width:100%;
  display: inline-flex;
  background-color: rgb(32, 29, 72);
  padding-left: 110px;
  padding-top:40px;
 
}

.subs{
  display:inline-block ;
}

.subs-text{
  color:white;
  font-family: "CeraPro-Bold";
}

.subscribe-inp{
  margin-top: 20px;
  width:200px;
  height:52px;
  font-size: 14px;
  padding-left: 20px;
}

.submit-footer{
  background-color: rgb(253, 143, 0);
  padding-bottom: 1px;
  width: 45px;
  height: 52px;
  border-radius: 0px 5px 5px 0px;
}

.social-media-images{
  display:block;
  padding-right: 5vw;
  margin-left: auto;
 

}

.footer_followUs{
  color:white;
  font-family: "CeraPro-Bold";
}

.footer_socialMedia-links{
  padding-top: 25px;
  display: inline-flex;
  justify-content: left;
}

.social-image{
 height: 40px;
 width: 60px;
 padding-right: 20px;
}



/* end */

/* Footer Credits -> */

.footerWrapper {
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 100px;
  background: rgb(32, 29, 72);
  color: white;
}

.footerWrapper_generalInfo {
  display: flex;
}

#footerWrapper_generalInfo_item {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
}

.footerWrapper_generalInfo_item {
  padding-right: 40px;
  font-weight: 400;
  font-size: 12px;
}

.footerWrapper_generalInfo_item:hover {
  text-decoration: underline;
}

.footerWrapper_credentials {
  padding-top: 20px;
  padding-bottom: 80px;
  font-weight: 400;
  font-size: 12px;
  width: auto;
}
/* end */