.footerContainer {
  display: flex;
  width: auto;
  background: rgb(32, 29, 72);
  padding-left: 100px;
  padding-top: 50px;
  
}

.legoImage-footer {
  width: 100px;
  height: 100px;
  padding-bottom: 20px;
}

.dropPinImage-footer{
  width:16px;
  height: 18px;
}

#romania-href{
  padding-left:10px;
}

#selectionRegion-footer {
  color: white;
  text-decoration: none;
  padding-left: 10px;
}

.footer_selectionRegion {
  display: flex;
  justify-content: center;
  background: rgb(24, 21, 45);
  width: 100px;
  height: 15px;
  text-align: center;
  color: white;
  padding: 12px;
  font-family: "CeraPro-Regular"

}

#giftCards-footer {
  color: white;
  text-decoration: none;
}

.footer_giftCards {
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 10px;
  font-family: "CeraPro-Regular"
}

.footer_giftCards:hover {
  text-decoration: underline;
}

#legoCatalogs-footer {
  color: white;
  text-decoration: none;
}

.footer_legoCatalogs {
  color: white;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 10px;
  font-family: "CeraPro-Regular"
}

.footer_legoCatalogs:hover {
  text-decoration: underline;
}

#findLego-footer {
  color: white;
  text-decoration: none;
}

.footer_legoFinder {
  color: white;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 10px;
  font-family: "CeraPro-Regular"
}

.footer_legoFinder:hover {
  text-decoration: underline;
}

.footerInfo {
  display: flex;
}

.footerInfo_firstColumn {
  display: block;
  width: 200px;
  height: auto;
  padding-left: 140px;
  color: white;
}

.footerInfo_secondColumn {
  display: block;
  width: 200px;
  height: auto;
  padding-left: 80px;
  color: white;
}

.footerInfo_thirdColumn {
  display: block;
  width: 200px;
  height: auto;
  padding-left: 80px;
  color: white;
}

.footerInfo_fourthColumn {
  display: block;
  width: 200px;
  height: auto;
  padding-left: 80px;
  color: white;
}

.footerInfo_title {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 15px;
  font-family: "CeraPro-Bold";
}

#footerInfo_details {
  color: white;
  text-decoration: none;
  font-family: "CeraPro-Regular";
}

.footerInfo_details {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footerInfo_details:hover {
  text-decoration: underline;
}

